SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=localhost,127.0.0.1

# Database (SQLite)
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# PostgreSQL
POSTGRES_DB=parser_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=db
POSTGRES_PORT=5432

# JWT
JWT_ACCESS_LIFETIME=30
JWT_REFRESH_LIFETIME=1

USE_POSTGRES=True
